APP_NAME = Forgejo: Beyond coding. We forge.
RUN_MODE = prod
WORK_PATH = /data/gitea

[repository]
ROOT = /data/git/repositories
USE_COMPAT_SSH_URI = true
ENABLE_PUSH_CREATE_USER = true
ENABLE_PUSH_CREATE_ORG = true
DEFAULT_BRANCH = master

[repository.local]
LOCAL_COPY_PATH = /data/gitea/tmp/local-repo

[repository.upload]
TEMP_PATH = /data/gitea/uploads

[repository.pull_request]
DEFAULT_MERGE_STYLE = fast-forward-only

[server]
APP_DATA_PATH = /data/gitea
DOMAIN = {{ FORGEJO_DOMAIN }}
SSH_DOMAIN = {{ FORGEJO_DOMAIN }}
HTTP_PORT = 3000
ROOT_URL = {{ FORGEJO_ROOT_URL }}
DISABLE_SSH = false
LFS_START_SERVER = false
START_SSH_SERVER = false
SSH_AUTHORIZED_KEYS_FILE = /data/.ssh/authorized_keys
SSH_USER = git

[database]
PATH = /data/gitea/gitea.db
DB_TYPE = mysql
HOST = db:3306
NAME = forgejo
USER = forgejo
PASSWD = forgejo
LOG_SQL = false

[indexer]
ISSUE_INDEXER_PATH = /data/gitea/indexers/issues.bleve

[session]
PROVIDER_CONFIG = /data/gitea/sessions

[picture]
AVATAR_UPLOAD_PATH = /data/gitea/avatars
REPOSITORY_AVATAR_UPLOAD_PATH = /data/gitea/repo-avatars

[attachment]
PATH = /data/gitea/attachments

[log]
MODE = console
LEVEL = info
ROOT_PATH = /data/gitea/log

[security]
INSTALL_LOCK = true
SECRET_KEY = {{ FORGEJO_SECRET_KEY | default('') }}
REVERSE_PROXY_LIMIT = 1
REVERSE_PROXY_TRUSTED_PROXIES = *
INTERNAL_TOKEN = {{ FORGEJO_INTERNAL_TOKEN | default('') }}

[service]
DISABLE_REGISTRATION = true
REQUIRE_SIGNIN_VIEW = true

[lfs]
PATH = /data/git/lfs

[oauth2]
ENABLED = true

