---
- name: Install DBeaver Community Edition
  hosts: local

  tasks:
    - name: Resolve target version
      include_tasks: utils/resolveReleaseVersion.yml
      vars:
        requested_version: "{{ dbeaver_version }}"
        release_repo_owner: "dbeaver"
        release_repo_name: "dbeaver"

    - name: Determine update requirement
      include_tasks: utils/dpkgNeedsUpdate.yml
      vars:
        dpkg_package_name: "dbeaver-ce"
        dpkg_target_version: "{{ target_version }}"

    - name: Install or update DBeaver
      block:
        - name: Download package
          ansible.builtin.get_url:
            url: "{{ dbeaver_github_release_url }}/{{ effective_release_version }}/dbeaver-ce-{{ effective_release_version }}-linux-x86_64.deb"
            dest: "/tmp/dbeaver-ce-{{ effective_release_version }}-linux-x86_64.deb"
            mode: "0644"
            force: true
          changed_when: false

        - name: Install from downloaded file
          include_tasks: utils/installFromFile.yml
          vars:
            download_target_file: "/tmp/dbeaver-ce-{{ effective_release_version }}-linux-x86_64.deb"
      when: needs_update

    - name: Report installation status
      ansible.builtin.debug:
        msg: "DBeaver {{ target_version }} has been installed or updated"
      when: needs_update

    - name: Report up-to-date status
      ansible.builtin.debug:
        msg: "DBeaver {{ installed_version }} is already up to date"
      when: not needs_update
